apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: authentik

resources:
  - namespace.yaml
  - helmrelease.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: authentik-values
    files:
      - values.yaml=../values.authentik.yaml
  - name: authentik-no-tls
    files:
      - values.yaml=../values-no-tls.yaml
