---
- name: Display OS family
  debug:
    msg: "Семейство ОС хоста {{ inventory_hostname }} : {{ ansible_facts.os_family }}"

- name: Download flux install script for Debian
  ansible.builtin.get_url:
    url: https://fluxcd.io/install.sh
    dest: /tmp/flux-install.sh
    mode: '0755'
  when: ansible_facts['os_family'] == "Debian"

- name: Run flux install script for Debian
  ansible.builtin.shell: sudo bash /tmp/flux-install.sh
  args:
    chdir: /tmp
  when: ansible_facts['os_family'] == "Debian"

- name: Tap fluxcd repository for macOS
  community.general.homebrew_tap:
    name: fluxcd/tap
    state: present
  become: no
  when: ansible_facts['os_family'] == "Darwin"

- name: Install flux CLI for macOS
  community.general.homebrew:
    name: fluxcd/tap/flux
    state: latest
  become: no
  when: ansible_facts['os_family'] == "Darwin"

- name: Include FluxCD secrets
  include_vars:
    file: vars/secrets.yml

- name: Bootstrap Flux CD to GitHub repository
  ansible.builtin.shell:
    cmd: |
      flux bootstrap github \
        --token-auth \
        --owner=drnkschool \
        --repository=k8s-01 \
        --branch=main \
        --path=cluster \
  environment:
    GITHUB_TOKEN: "{{ github_token }}"
    KUBECONFIG: /etc/kubernetes/admin.conf
